
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "node_modules/materialize-css/sass/components/mixins";
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

@import "node_modules/materialize-css/sass/materialize.scss";
//@import "node_modules/materialize-clockpicker/src/sass/clockpicker.scss";

@import "node_modules/materialize-clockpicker/src/sass/components/variables";
@import "node_modules/materialize-clockpicker/src/sass/components/primary";
@import "node_modules/materialize-clockpicker/src/sass/components/dark";


.card-panel {
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-title {
  font-size: 25px;
}

.card-content p {
  font-size: 18px;
}

.card-panel .btn-large {
  padding: 0px 60px 15px 60px;
  font-size: 20px;
}

.info h2 {
  margin-top: 100px;
}

.info p {
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  margin-bottom: 100px;
}

.info a {
  margin-top: 20px;
}

.info .btn-large {
  padding: 0px 60px 15px 60px;
  font-size: 20px;
}
.pricing h2 {
  margin-top: 100px;
}

.pricing p {
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  margin-bottom: 100px;
}

.pricing a {
  margin-top: 20px;
}

.pricing .btn-large {
  padding: 0px 60px 15px 60px;
  font-size: 20px;
}

.container .entries {
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  border: 1px solid lightgrey;
  border-radius: 1em;
}

.container .entries .input-field .validate {
  color: black;
  font-size: 16px;
  border-bottom: 0.5px solid #9e9e9e;
}

.container .time .input-field .validate {
  color: black;
  font-size: 16px;
  border-bottom: 0.5px solid #9e9e9e;
}

.container .team .input-field .validate {
  color: black;
  font-size: 16px;
  border-bottom: 0.5px solid #9e9e9e;
}

.container .time {
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  border: 1px solid lightgrey;
  border-radius: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container .team {
  font-size: 18px;
  padding: 20px 20px 0px 20px;
  border: 1px solid lightgrey;
  border-radius: 1em;
  margin-bottom: 10px;
}